html {
  /* font-size: 16px;(기본값으로 입력 되어있다) */

}

.parent {
  width: 50vw;
  height: 200px;
  background-color: royalblue;
  font-size: 10px;
}
.child {
  width: 50%;
  height: 50vh;
  background-color: orange;
}