.parent1st {
  width: 200px;
  height: 150px;
  background-color: royalblue;
  margin: 20px;
  overflow: visible;
}
.child1st {
  width: 300px;
  height: 100px;
  background-color: orange;
}

.parent2nd {
  width: 200px;
  height: 150px;
  background-color: royalblue;
  margin: 20px;
  overflow: hidden;
}
.child2nd {
  width: 300px;
  height: 100px;
  background-color: orange;
}

.parent3rd {
  width: 200px;
  height: 150px;
  background-color: royalblue;
  margin: 20px;
  overflow: scroll;
}
.child3rd {
  width: 300px;
  height: 100px;
  background-color: orange;
}
.parent4th {
  width: 200px;
  height: 150px;
  background-color: royalblue;
  margin: 20px;
  overflow: auto;
}
.child4th {
  width: 300px;
  height: 100px;
  background-color: orange;
}
