.box {
  width: 1000px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
}

.container1 {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  margin: 100px;
}
.container1 .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: translate(20px,-10px);
}
.container2 {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  margin: 100px;
}
.container2 .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: rotate(45deg);
}
.container3 {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  margin: 100px;
}
.container3 .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: rotate(45deg) scale(1.3);
}
.container4 {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  margin: 100px;
}
.container4 .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: perspective(150px) rotateX(20deg);
}
.container5 {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  margin: 100px;
}
.container5 .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: skewX(45deg);
}
.container6 {
  width: 100px;
  height: 100px;
  background-color: royalblue;
  margin: 100px;
}
.container6 .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: skewY(45deg);
}
