.container1 {
   width: 200px;
   height: 100px;
   background-color: royalblue;
   margin: 50px;
}
.container1 .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: perspective(500px) rotateY(45deg);
}
.container2 {
  width: 200px;
  height: 100px;
  background-color: royalblue;
  margin: 50px;
  perspective: 500px;
}
.container2 .item {
  width: 100px;
  height: 100px;
  background-color: orange;
  transform: rotateY(45deg);
}