body {
  height: 3000px;
}
div {
  width:  200px;
  height: 200px;
  background-color: orange;
  background-image: url("https://wooritech.com/assets/img/wt-logo-top@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  /* attachment에 fixed를 사용할 경우 size 기능이 작동하지 않음  */
}